<a href="https://colab.research.google.com/github/WagnerLopesCardozo/Projetos-de-Estudo-CD-FaTec-Ourinhos/blob/main/C%C3%B3digos_La%C3%A7o_Repeti%C3%A7%C3%A3o_FOR_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Código de Laços de Repetição com o Comando FOR Nível Intermediário

Código que Lê 5 números e calcula o quadrado de cada número

In [1]:
'''
Código que Lê 5 números e calcula o quadrado de cada número.
'''

for cont in range (1, 6):
    num = int (input ('Digite um número: '))
    print (f'O quadrado de {num} é: {num * num}')

Digite um número: 4
O quadrado de 4 é: 16
Digite um número: 8
O quadrado de 8 é: 64
Digite um número: 3
O quadrado de 3 é: 9
Digite um número: 9
O quadrado de 9 é: 81
Digite um número: 5
O quadrado de 5 é: 25

Código que mostra os números pares no intervalo de 1 até 10

In [2]:
'''
Código que mostra os números pares no intervalo de 1 até 10.
'''

print ('Os números pares no intervalo de 1 até 10 são:')

for cont in range (2, 11, 2):
    print (f'{cont}', end = '  ')

Os números pares no intervalo de 1 até 10 são:
2  4  6  8  10

Código que mostra todos os números de 1 até 100

In [3]:
'''
Código que mostra todos os números de 1 até 100.
'''

print ('Os números de 1 até 100 são:')

for cont in range (1, 101):
    print (f'{cont}', end = ' ')

Os números de 1 até 100 são:
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

Código que mostra os números de 100 até 1 de forma decrescente

In [4]:
'''
Código que mostra os números de 100 até 1 de forma decrescente.
'''

print ('Os números de 100 até 1 de forma decrescente são:')
for cont in range (100, 0, -1): # o incremento -1 porque é para mostrar os números de forma decrescente
    print (f'{cont}', end = ' ')

Os números de 100 até 1 de forma decrescente são:
100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

Código que calcula os multiplos de 5 no intervalo de 1 até 500

In [5]:
'''
Código que calcula os multiplos de 5 no intervalo de 1 até 500.
'''

print ('Os múltiplos de 5 no intervalo de 1 até 500 são:')

for cont in range (1, 501):
    multiplo = 5 * cont
    print (f'{multiplo}', end = ' ')

Os múltiplos de 5 no intervalo de 1 até 500 são:
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200 205 210 215 220 225 230 235 240 245 250 255 260 265 270 275 280 285 290 295 300 305 310 315 320 325 330 335 340 345 350 355 360 365 370 375 380 385 390 395 400 405 410 415 420 425 430 435 440 445 450 455 460 465 470 475 480 485 490 495 500 505 510 515 520 525 530 535 540 545 550 555 560 565 570 575 580 585 590 595 600 605 610 615 620 625 630 635 640 645 650 655 660 665 670 675 680 685 690 695 700 705 710 715 720 725 730 735 740 745 750 755 760 765 770 775 780 785 790 795 800 805 810 815 820 825 830 835 840 845 850 855 860 865 870 875 880 885 890 895 900 905 910 915 920 925 930 935 940 945 950 955 960 965 970 975 980 985 990 995 1000 1005 1010 1015 1020 1025 1030 1035 1040 1045 1050 1055 1060 1065 1070 1075 1080 1085 1090 1095 1100 1105 1110 1115 1120 1125 1130 1135 1140 1145 1150 1155 1160 1165 1170 1175 1180 1185 1190 1195 1200 1205 1210 1215 1220 1225 1230 1235 1240 1245 1250 1255 1260 1265 1270 1275 1280 1285 1290 1295 1300 1305 1310 1315 1320 1325 1330 1335 1340 1345 1350 1355 1360 1365 1370 1375 1380 1385 1390 1395 1400 1405 1410 1415 1420 1425 1430 1435 1440 1445 1450 1455 1460 1465 1470 1475 1480 1485 1490 1495 1500 1505 1510 1515 1520 1525 1530 1535 1540 1545 1550 1555 1560 1565 1570 1575 1580 1585 1590 1595 1600 1605 1610 1615 1620 1625 1630 1635 1640 1645 1650 1655 1660 1665 1670 1675 1680 1685 1690 1695 1700 1705 1710 1715 1720 1725 1730 1735 1740 1745 1750 1755 1760 1765 1770 1775 1780 1785 1790 1795 1800 1805 1810 1815 1820 1825 1830 1835 1840 1845 1850 1855 1860 1865 1870 1875 1880 1885 1890 1895 1900 1905 1910 1915 1920 1925 1930 1935 1940 1945 1950 1955 1960 1965 1970 1975 1980 1985 1990 1995 2000 2005 2010 2015 2020 2025 2030 2035 2040 2045 2050 2055 2060 2065 2070 2075 2080 2085 2090 2095 2100 2105 2110 2115 2120 2125 2130 2135 2140 2145 2150 2155 2160 2165 2170 2175 2180 2185 2190 2195 2200 2205 2210 2215 2220 2225 2230 2235 2240 2245 2250 2255 2260 2265 2270 2275 2280 2285 2290 2295 2300 2305 2310 2315 2320 2325 2330 2335 2340 2345 2350 2355 2360 2365 2370 2375 2380 2385 2390 2395 2400 2405 2410 2415 2420 2425 2430 2435 2440 2445 2450 2455 2460 2465 2470 2475 2480 2485 2490 2495 2500

Código que calcula o quadrado de um número de 1 até 20

In [6]:
'''
Código que calcula o quadrado de um número de 1 até 20.
'''

print ('O quadrado de 1 até 20 é:')

for cont in range (1, 21):
    quadrado = cont ** 2
    print (f'{quadrado}', end = '  ')

O quadrado de 1 até 20 é:
1  4  9  16  25  36  49  64  81  100  121  144  169  196  225  256  289  324  361  400

Código que mostra os números de 120 a 300

In [7]:
'''
Código que mostra os números de 120 a 300.
'''

print ('Os números de 120 até 300 são:')

for cont in range (120, 301):
    print (f'{cont}', end = '  ')

Os números de 120 até 300 são:
120  121  122  123  124  125  126  127  128  129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144  145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160  161  162  163  164  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209  210  211  212  213  214  215  216  217  218  219  220  221  222  223  224  225  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240  241  242  243  244  245  246  247  248  249  250  251  252  253  254  255  256  257  258  259  260  261  262  263  264  265  266  267  268  269  270  271  272  273  274  275  276  277  278  279  280  281  282  283  284  285  286  287  288  289  290  291  292  293  294  295  296  297  298  299  300

Código que mostra os números de 1 até 100 e a soma deles

In [10]:
'''
Código que mostra os números de 1 até 100 e a soma deles.
'''

print ('Os números de 1 até 100 e a soma entre eles é:')

soma = 0
for cont in range (1, 101):
    soma = soma + cont
    print (f'{cont}', end = '  ')
    print (f'{soma}')

Os números de 1 até 100 e a soma entre eles é:
1  1
2  3
3  6
4  10
5  15
6  21
7  28
8  36
9  45
10  55
11  66
12  78
13  91
14  105
15  120
16  136
17  153
18  171
19  190
20  210
21  231
22  253
23  276
24  300
25  325
26  351
27  378
28  406
29  435
30  465
31  496
32  528
33  561
34  595
35  630
36  666
37  703
38  741
39  780
40  820
41  861
42  903
43  946
44  990
45  1035
46  1081
47  1128
48  1176
49  1225
50  1275
51  1326
52  1378
53  1431
54  1485
55  1540
56  1596
57  1653
58  1711
59  1770
60  1830
61  1891
62  1953
63  2016
64  2080
65  2145
66  2211
67  2278
68  2346
69  2415
70  2485
71  2556
72  2628
73  2701
74  2775
75  2850
76  2926
77  3003
78  3081
79  3160
80  3240
81  3321
82  3403
83  3486
84  3570
85  3655
86  3741
87  3828
88  3916
89  4005
90  4095
91  4186
92  4278
93  4371
94  4465
95  4560
96  4656
97  4753
98  4851
99  4950
100  5050

Código que lê 8 números e mostra o logaritimo de cada número na base 10

In [12]:
'''
Código que lê 8 números e mostra o logaritimo de cada número na base 10.
'''

print ('Os 8 números e seus respectivos logaritimos na base 10 são:')

from math import log10

for count in range (1, 9):
    num = int (input ('Digite um número: '))
    print (f'O logaritimo de {num} na base 10 é: {log10(num) :.2f}')12

Os 8 números e seus respectivos logaritimos na base 10 são:
Digite um número: 49
O logaritimo de 49 na base 10 é: 1.69
Digite um número: 72
O logaritimo de 72 na base 10 é: 1.86
Digite um número: 7
O logaritimo de 7 na base 10 é: 0.85
Digite um número: 1
O logaritimo de 1 na base 10 é: 0.00
Digite um número: 10
O logaritimo de 10 na base 10 é: 1.00
Digite um número: 89
O logaritimo de 89 na base 10 é: 1.95
Digite um número: 47
O logaritimo de 47 na base 10 é: 1.67
Digite um número: 36
O logaritimo de 36 na base 10 é: 1.56

Código que lê 15 números e calcula a raiz quadrada de cada número

In [13]:
'''
Código que lê 15 números e calcula a raiz quadrada de cada número.
'''

print ('A raiz quadrada dos 15 números são:')

from math import sqrt

for count in range (1, 16):
    num = int (input ('Digite um número: '))
    print (f'A raiz quadrada de {num} é: {sqrt(num) :.2f}')

A raiz quadrada dos 15 números são:
Digite um número: 25
A raiz quadrada de 25 é: 5.00
Digite um número: 81
A raiz quadrada de 81 é: 9.00
Digite um número: 49
A raiz quadrada de 49 é: 7.00
Digite um número: 89
A raiz quadrada de 89 é: 9.43
Digite um número: 23
A raiz quadrada de 23 é: 4.80
Digite um número: 46
A raiz quadrada de 46 é: 6.78
Digite um número: 11
A raiz quadrada de 11 é: 3.32
Digite um número: 10
A raiz quadrada de 10 é: 3.16
Digite um número: 49
A raiz quadrada de 49 é: 7.00
Digite um número: 38
A raiz quadrada de 38 é: 6.16
Digite um número: 59
A raiz quadrada de 59 é: 7.68
Digite um número: 60
A raiz quadrada de 60 é: 7.75
Digite um número: 779
A raiz quadrada de 779 é: 27.91
Digite um número: 356
A raiz quadrada de 356 é: 18.87
Digite um número: 460
A raiz quadrada de 460 é: 21.45